{% extends 'member/bonus_base.html' %}
{% load i18n admin_static %}
{% load url from future %}
{% block content-main %}
<div class="content-1of3-wrapper">
<div class ="content-1of3"> 
{% if not BonusRecords %}
<h1>没有奖金记录</h1>
{% else %}
<h1>{{name}}</h1>
<p>{{number}}</p>
{% include 'includes/c_counter_detail.html'%}
{% endif %}
</div>
</div>
<div class="content-2of3-wrapper">
<div class ="content-2of3"> 
<ul>
<h1>奖金记录</h1>
<li><a href="{%url 'member_c_bonus'%}">商城每期奖金记录</a></li>
<li><a href="{%url 'member_c_bonus_detail'%}">商城奖金细目记录表</a></li>
</ul>

</div>

</div>

<script type="text/javascript">
    function page_up(goto_url){
        $("#counter_detail").load(goto_url)
    }
    function page_down(goto_url){
        $("#counter_detail").load(goto_url)
    }
    function to_counter(goto_url){
        $("#counter_detail").load(goto_url)
    }
</script>
{% endblock %}
