{% extends 'member/base.html'%}
{% load i18n admin_static %}
{% load url from future %}
{% block title %}
会员首页 
{% endblock %}
{% block nav%}
{% endblock %}
{% block content-main %}
            <div class="content-1of3-wrapper">
                <div class ="content-1of3">
                    <div>
                        <h1>欢迎，{{user.username}}</h1>
                        <p>这里是功能导航。这里是功能导航。这里是功能导航。这里是功能导航。这里是功能导航。</p>
                    </div>
                    <div>
                        <a href="{%url 'member_details'%}"> <img src="./../../static/img/store-max.png" width="160" height="160" class="float-left" /> </a>
                        <h2><a href="{%url 'member_index' %}">会员中心</a></h2>
                        <ul>
                            <li> <a href="">功能功能功能功能功能功能</a> </li>
                            <li> <a href="">功能功能功能功能功能功能</a> </li>
                            <li> <a href="">功能功能功能功能功能功能</a> </li>
                            <li> <a href="">功能功能功能功能功能功能</a> </li>
                            <li> <a href="">功能功能功能功能功能功能</a> </li>
                        </ul>
                        <br class="clear" />
                    </div>
                    <div>
                        <h2><a href="">其他功能</a></h2>
                        {%if not user.is_superuser%}
                        <a href="{%url 'member_messages' %}">
                        <div class="icon-messageboard"></div>
                        </a> 
                        
                        <a href="{%url 'mem_announcements_list' %}">
                        <div class="icon-download"></div>
                        </a> 
                        {%else %}
                        <a href="{%url 'admin_messages' %}">
                        <div class="icon-messageboard"></div>
                        </a> 
                        <a href="{%url 'announcements_list' %}">
                        <div class="icon-download"></div>
                        </a> 
                        {% endif %}
                        <a href="{%url 'file_download' %}">
                        <div class="icon-announcement"></div>
                        </a> 
                        <br class="clear" />
                    </div>
                </div>
            </div>
            <div class="content-2of3-wrapper">
                <div class ="content-2of3"> <a href="{%url 'mall_index' %}"> <img src="./../../static/img/mall-max.png" width="160" height="160" class="float-left" /> </a>
                    <h2><a href="">商城</a></h2>
                    <p>商城介绍商城介绍商城介绍商城介绍商城介绍绍商城介</p>
                    <br class="clear" />
                </div>
                <div class ="content-3of3"> <a href="{%url 'stock_index'%}"> <img src="./../../static/img/stock-max.png" width="160" height="160" class="float-right" /> </a>
                    <h2><a href="">股票</a></h2>
                    <p>股票介绍股票介绍股票介绍股票介绍股票介绍股票介绍</p>
                    <p>当日价格：￥<span class="emphasis">{{stock}}</span></p>
                    <p></p>
                    <br class="clear" />
                </div>
            </div>
{% endblock %}

