{% extends "member/member.html"%}
{% load i18n admin_static %}
{% load url from future %}
{% block content-main%}
<div class="content-1of1-wrapper">
    <div class="content-1of3"> <a href="javascript:history.back(-1)" class="float-right">返回上一页</a>
        {% if not has_appl %}
        <h1> 申请成为商城VIP</h1>
        <form id="memmin-upgrade-appl-form" action="." method="POST">
            {% csrf_token %}
            <p>{{has_exit}}</p>
            <p>
                <label>开户银行:</label>
                <span>{{UserBasic.bank_name}}</span>
                    <select name="bank_name_list" id="id_bank_name_list">
                    <option value="NongHang">中国农业银行</option>
                    <option value="GongHang">中国工商银行</option>
                    <option value="ZhongHang">中国银行</option>
                    <option value="JianHang">中国建设银行</option>
                    <option value="MinSheng">中国民生银行</option>
                    <option value="YouZheng">中国邮政储蓄</option>
                    <option value="JiaoTong">交通银行</option>
                    <option value="ZhaoShang">招商银行 </option>
                    </select></p>
                    <div class="hidden">
                    	{{form.bank_name}} 
                    </div>
            <p>
                <label>开户姓名:</label>
                    {{form.bank_account_name}} </p>
            <p>
                <label>开户银行账号:</label>
                    {{form.bank_account_id}} </p>
            <p>
                <label>身份证号码:</label>
                    {{form.id_card_number}}
            </p>
            
            {% if form.password_2nd.errors%}
            <div class="to-modify"> {{form.password_2nd.errors}} </div>
            {% endif %}
            <p>
                <label>二级密码</label>
                {{form.password_2nd}}</p>
            
        <input id="submit-the-form" type="submit" class="need_appl" value="申请提交">
        </form>
        {% else %}
        <h1>你已经申请过,请不要重复申请</h1>
        {% endif %}
    </div>
</div>
<script src="/static/js/validations.js"></script> 
<script>
	$("#submit-the-form").bind('click',function(){
	    $("#id_bank_name").val($("#id_bank_name_list option:selected").html())
	    //alert( $("#id_bank_name").val())
		$("#memmin-upgrade-appl-form").validator({
			message: '<span></span>',
			position: 'center right',
			inputEvent: 'change' ,
			lang: 'cn' ,
			offset: [0, 20]
		});
	});
</script>
{% endblock %}
