.delivery
{
	border: 1px solid #e4e4e4;
	margin: 0 auto;
	width: 978px;
}
.mb10
{
	margin-bottom: 10px!important;
}
*
{
	margin: 0;
	padding: 0;
}
body
{
	color: #666;
	font: 12px Tahoma;
}
body,p,form,input,button,dl,dt,dd,ul,ol,li,h1,h2,h3,h4
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.delivery .title
{
	background: url(/static/dlivery/r1_c17.png) repeat-x;
	border-bottom: 2px solid #c00;
	height: 27px;
	position: relative;
}
.delivery .title h2
{
	color: #333;
	font-size: 14px;
	line-height: 27px;
	padding-left: 20px;
}
.delivery .title a
{
	position: absolute;
	right: 20px;
	top: 6px;
}
a:link,a:visited
{
	color: #06c;
	text-decoration: none;
}
.delivery_box
{
	padding: 6px 18px 20px;
}
.delivery_box .one_store
{
	background: url(../../images/v2/checkoutV2/r1_c18.png) 7px center no-repeat;
}
.business_title
{
	border-bottom: 2px solid #aaa;
	height: 30px;
	line-height: 30px;
	position: relative;
}
.delivery_box .head
{
	background-color: #f0f0f0;
	border-bottom: 1px solid #e4e4e4;
	width: 100%;
}
table,tr,th,td,iframe,hr
{
	margin: 0;
	padding: 0;
}
table,tr,th,td,iframe,hr
{
	margin: 0;
	padding: 0;
}
.delivery_box .head td
{
	color: #333;
	line-height: 28px;
}
.delivery_box .table_box table
{
	border: 1px solid #e4e4e4;
	width: 100%;
}
.delivery_box .table_box table th
{
	background-color: #f0f0f0;
	border-bottom: 1px solid #e4e4e4;
	font-weight: normal;
	line-height: 1em;
	padding: 8px 0;
}
.delivery_box .table_box table td
{
	border-bottom: 1px dashed #ccc;
	padding: 10px 0;
}
