{% extends 'mall/login-base.html'%}
{% block main-block%}
<form action="." method="POST" style="text-align:center">
{% csrf_token %}
<h1>{%if not user.is_superuser and not user.first_name = "finance"%}一级密码修改{% else %}密码修改{% endif %}</h1>
<div class="to-modify">
{{change_password_form.new_password.errors}}
</div>
<p><label>{%if not user.is_superuser and not user.first_name = "finance"%}一级密码{% else %}密码{% endif %}</label>
    {{change_password_form.password}}
</p>
<p>
    <label>{%if not user.is_superuser and not user.first_name = "finance"%}新一级密码{% else %}新密码{% endif %}</label>
    {{change_password_form.new_password}}
</p>
<p>
    <label>{%if not user.is_superuser and not user.first_name = "finance"%}新一级密码确认{% else %}新密码确认{% endif %}</label>
    {{change_password_form.new_password_again}}
</p>
<input type="submit" value="{%if not user.is_superuser and not user.first_name = "finance"%}修改一级密码{%else%}修改密码{% endif %}" name="change_password_form">
{% if not user.is_superuser and not user.first_name = "finance"%}
<h1>二级密码修改</h1>
<div class="to-modify">
{{change_password_2nd_form.new_password_2nd.errors}}
</div>
<p>
    <label>二级密码</label>
    {{change_password_2nd_form.password_2nd}}
</p>
<p>
    <label>新二级密码</label>
    {{change_password_2nd_form.new_password_2nd }}
</p>
<p>
    <label>新二级密码确认</label>
    {{change_password_2nd_form.new_password_2nd_again}}
</p>
<input type="submit" value="修改二级密码" name="change_password_2nd_form">
{% endif %}
</form>

{% endblock %}
