<div id="mall-footer">
    <div class="wrap">
    	<p>
        	<img src="/static/img/footer_info.jpg">
        </p>
        <p>
        	
        </p>
        <p>@威海人太易康生物科技有限公司<label></label><b title="（按当地市话标准计费）">客服电话:0631-3932599</b><label></label><b title="anderswill@rtyk.webfactional.com">联系开发者</b><label></label><b title="为了保证您的浏览效果和交易安全，请使用IE8或以上版本的浏览器浏览此页面。">提示</b></p>
    </div>
    <script>
		$("#right-board [title],#mall-footer [title]").tooltip();
		function search(){
            var keywords = $("#search").val()
            location.href = "/search/?keywords="+keywords
		}
	</script>
<!--    
        <p style="color:silver" id="disclaimer" title="以上所展示的信息由企业自行提供，内容的真实性、准确性和合法性由发布企业负责。网站开发者对此不承担任何法律责任。">免责声明</p>
    </div>
    <script>
		$("#disclaimer[title]").tooltip();
	</script>-->
    <!-- end .footer --> 
</div>
