<div id="success" class="center-info"> 
    <script type="text/javascript" src="/static/images/global_site_top.js" charset="utf-8">
        </script> 
    <script type="text/javascript" src="/static/images/pay_success.js" charset="utf-8">
        </script> 
    <div class="clear"> </div>
    <input type="hidden" id="currGateWayReturnUrl" value="">
    <div class="infopart infoline_s">
        <div class="float-left"> <img src="/static/images/bookright.gif"> </div>
        <div class="float-left">
            <p> 恭喜您！购买成功 

             订单号 {{order_list}}</p>
            <a class="white button" href="/" target="_blank"> 继续购物 </a> </div>
        <div class="clear"> </div>
    </div>
</div>


