{% load i18n admin_static %}
{% load url from future %}
{%if not stuff_order%} <span>没有订单</span> {%else%}
{% for StuffOrder in stuff_order%}
<div class="{{StuffOrder.state}}">
    <fieldset>
        <legend> ＃<b>{{StuffOrder.id}}</b><label></label><span>{{StuffOrder.time_add}}</span> </legend>
        <table>
            <tr>
                <td>货物类型</td>
                <td>货物</td>
                <td>货物的数量</td>
                <td>货物的单价</td>
            </tr>
            {% for Stuff in StuffOrder.Stuff %}
            <tr> {% if Stuff.stuff.type.detail %}
                <td title="<h3>类型简介</h3>{{Stuff.stuff.type.detail}}"> {% else %}
                
                <td> {% endif %}
                    {{Stuff.stuff.type.name}}</td>
                <!--条件判断用于放置有title属性但没有内容导致的DOM解析错误--> 
                
                {% if Stuff.stuff.detail %}
                <td title="<h3>简介</h3>{{Stuff.stuff.detail}}"> {% else %}
                
                <td> {% endif %}
                    {%if  Stuff.stuff.picture%} <img src='/{{Stuff.stuff.picture.url}}' class="small-img"> {%endif %}
                    <li>{{Stuff.stuff.name}}</li></td>
                <td>{{Stuff.amount}}</td>
                <td>{{Stuff.stuff.price_single}}</td>
            </tr>
            {% endfor %}
        </table>
        <p>
            <label>订单状态</label>
            {{StuffOrder.get_state_display}} </p>
        <p>
        	<label>订单地址</label>{{StuffOrder.address.province}}　{{StuffOrder.address.city}}　{{StuffOrder.address.area}}　{{StuffOrder.address.street}}
        </p>
        <p><label>订单总价</label>
            {{StuffOrder.total_price}}
        </p>
        <p><label>订货人</label>
            <a href="{%url 'management_member_detail' %}?user_number={{StuffOrder.address.user.number}}">{{StuffOrder.address.user.name}}</a> [{{StuffOrder.address.user.number}}]
        </p>
        {%if StuffOrder.wait %}
        <div >
            <form action="." method="POST" >
                {%csrf_token%}
                <input type="hidden" name="order" id="id_order" value="{{StuffOrder.id}}">
                <label>操作</label>
                <input type="submit" value="发货">
                <input type="submit" value="取消订单" name="cancle">
            </form>
        </div>
        {% endif %}
        {%if StuffOrder.sure %}
        <div>
            <form action="." method="POST" >
                {%csrf_token%}
                <input type="hidden" name="order" id="id_order" value="{{StuffOrder.id}}">
                <label>操作</label>
                <input type="submit" value="确认收货">
            </form>
        </div>
        {% endif %}
    </fieldset>
</div>

{% endfor %}
<P>

<a href="?page=1">首页</a>
{% if stuff_order.has_previous %}

<a class="page_next" id = "page_up" href="?page={{ stuff_order.previous_page_number }}">
    上一页
</a>
{% endif %}
{% if stuff_order.has_next %}
<a class="page_next" id = "page_down" href="?page={{ stuff_order.next_page_number}}">
    下一页
</a>
{% endif%}
{{ stuff_order.number }} / {{ stuff_order.paginator.num_pages }}
<a href="?page={{ stuff_order.paginator.num_pages }}">尾页</a>
</P>
{% endif%} 
